#title{
    height:10%;
    width:100%;
    color:blueviolet;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
body{
    padding: 0%;
    height:100%;
    width: 100%;
    margin: 0px;
}

footer{
    width: 100%;
    height: 20%;
    position: relative;
    margin: 0%;
}
#photo{
    position: relative;
    height: 90%;
    width: 100%;
}

#arrow{
    z-index: 1;
    float: right;
    height: 20%;
    width: 5%
}

#link{
    height: 20%;
    width: 25%;


}

#link:hover{
    opacity:0.7;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    transition: .3s ease;
    background-color: transparent;
    top: 0;
    bottom: 100;
    left: 50;
    right: 50;
}
div{
    margin: 0%;
}
.container {
    position: relative;
    width: 100%;
    height: 80%;
}


.overlay:hover {
    opacity: 0.7;
}

#icon {
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: fixed;
    margin-top: 35%;
    margin-left: 47%;
}

#mapDiv{
    position: absolute;
    height:80%;
    width:100%;
    
  
}

#tekst{
    position: relative;
    height: 40%;
    width: 100%;
    padding-top: 40%;
    margin: 0%;
}
